/* 亮色主题：:root代表整个文档的基础样式 */
:root {
  --el-bg-color: #ddd; /* 覆盖el组件默认背景色 */
  --base-bg-color: #e5edf3; /* 自定义底色：用于背景色 */
  --bg-color: #eee; /* 自定义衬色：用于自定义组件 */
  --trans-bg-color: rgb(238, 238, 238, 0.8); /* 自定义半透明衬色：用于自定义组件 */
  --reverse-color: #111; /* 自定义反色：用于字体、突出显示的等 */
  --choosed-bg-color: #ded8ea; /* 自定义菜单栏选中背景色 */
  --d3-edge-color: rgb(120, 121, 179); /* 自定义画布里边颜色 */
  --solid-border: 1px solid #aaa; /* 自定义边框 */
  --box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8); /* 自定义阴影 */
  --box-shadow-small: 0 4px 10px rgba(0, 0, 0, 0.8); /* 自定义阴影 */
  --emphasis-color: rgb(0, 102, 255); /* 自定义强调色 */
  --linear-bg-color: linear-gradient(to bottom, #f3faff, #95bad4); /* 自定义渐变背景色 */
  --cursor-pointer: url("@/assets/imgs/base-pointer-light.png"), pointer; /* 自定义悬浮鼠标指针 */
  --base-3: #ccc;
  --base-4: #bbb;
  --base-5: #aaa;
}

/* 暗色主题：文档树的dark类选择器，当切换到暗色时，会给整个文档添加dark类 */
html.dark {
  --el-bg-color: #222;
  --base-bg-color: #130f0a;
  --bg-color: #111;
  --trans-bg-color: rgb(17, 17, 17, 0.8);
  --reverse-color: #eee;
  --choosed-bg-color: #2f2a62;
  --d3-edge-color: rgb(186, 187, 245);
  --solid-border: 1px solid #856517;
  --box-shadow: 0 8px 16px rgba(255, 247, 205, 0.8);
  --box-shadow-small: 0 4px 10px rgba(255, 247, 205, 0.8);
  --emphasis-color: red;
  --linear-bg-color: linear-gradient(to bottom, #000000, #4b3621);
  --cursor-pointer: url("@/assets/imgs/base-pointer-dark.png"), pointer;
  --base-3: #333;
  --base-4: #444;
  --base-5: #555;
}
